appnope
asttokens
comm
debugpy
decorator
executing
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
opencv-python
packaging
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
typing_extensions
wcwidth
